<div class="wrapper">
  <header>
    <h2>Process Management</h2>

    <a routerLink="/create-process" class="create">+ New</a>
  </header>

  <table>
    <tr>
      <th>Name</th>
      <th>Created date</th>
      <th>Author username</th>
      <th>Status</th>
      <th>Finished date</th>
    </tr>
    <tr *ngFor="let process of processes">
      <td>{{ process.name }}</td>
      <td>{{ process.createdDate | date : 'short' }}</td>
      <td>{{ process.authorUsername }}</td>
      <td>{{ process.isFinished ? 'Finished' : 'New'}}</td>
      <td>{{ process.finishedDate | date }}</td>
    </tr>
  </table>

  <app-pagination [itemsOnPage]="16" [maxItems]="maxItems" (pageChanged)="onPageChanged($event)"></app-pagination>
</div>
